.event {
  position: absolute;
  width: 80%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    background-color: rgb(74, 186, 134);
    transition: border 280ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 280ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px rgba(60, 64, 67, 0.3),
      0px 8px 12px 6px rgba(60, 64, 67, 0.15);
  }
}

.delete-event-btn {
  cursor: pointer;
  border: none;
  z-index: 10;
  position: absolute;
  bottom: -30px;
  right: -10px;
  display: block;
  border-radius: 10px;
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 16px;
  font-family: serif;
  letter-spacing: 1px;
}
