.header {
  display: flex;
  height: 60px;
  padding: 0 48px;
  align-items: center;
  // background-color: rgb(56, 114, 200);
}

.create-event-btn {
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%),
    0px 1px 3px 1px rgb(60 64 67 / 15%);
  background-color: rgba(255, 255, 255, 0.5);
  width: auto;
  margin-right: 30px;

  &__icon {
    margin-right: 8px;
  }
}

.navigation {
  &__today-btn {
    margin-left: 32px;
    padding: 0 16px;
  }

  &__nav-icon {
    font-size: 16px;
    margin-left: 20px;
  }

  &__displayed-month {
    margin-left: 10px;
  }

  &__displayed-firstWeekDay {
    margin-left: 20px;
  }
}
