.header {
  display: flex;
  height: 60px;
  padding: 0 48px;
  align-items: center;
  // background-color: rgb(56, 114, 200);
}

.create-event-btn {
  padding: 0 16px;

  &__icon {
    margin-right: 8px;
  }
}

.navigation {
  &__today-btn {
    margin-left: 32px;
    padding: 0 16px;
  }

  &__nav-icon {
    font-size: 16px;
    margin-left: 20px;
  }

  &__displayed-month {
    margin-left: 10px;
  }

  &__displayed-firstWeekDay {
    margin-left: 20px;
  }
}
